{% extends "FOSUserBundle::layout.html.twig" %}


{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container form-signin">
        <p class="felicitation">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
        <p class="acceuil"><a href="{{ path('ms_platform_homepage') }}">Revenir sur la page d'acceuil</a></p>
    </div>
{% endblock fos_user_content %}

{% block stylesheets %}
    <style>
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            /*background-color: #eee;*/
        }
        .form-signin {
            max-width: 700px;
            padding: 15px;
            margin: 0 auto;
        }
        .felicitation{
            color: black;
            font-size: x-large;
        }
        .acceuil{
            color:#7386D5
        }

    </style>
{% endblock %}