{% extends "base.html.twig" %}

{% block title %}Miage Simulation{% endblock %}

{% block body %}
    <h1>Layout.html.twig</h1>


    {#{% stylesheets 'bundles/miageSimulationAdmin/css/main.css' %}#}
        {#<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />#}
    {#{% endstylesheets %}#}



    {% block body_forum %}
    {% endblock %}


{% endblock %}

