{% extends "@MSPlatform/layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block stylesheets %}
{% endblock %}


{% block body_forum %}
    <div class="container">
        <div class="row"><h1>Voici la page de l'enseignant</h1></div>
        <div class="row">
            <h3 class="col-md-offset-4 col-md-4">Bonjour {{ teacher.name }} -
                {% for subject in teacher.subjects %}
                    {{ subject.name}}
                    {% for course in subject.courses %}
                        {{ course.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                {% endfor %}
            </h3>

        </div>

        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a data-toggle="tab" href="#">Ajout des notes</a></li>
            {#<li role="presentation"><a data-toggle="tab" href="#">Consultation des notes</a></li>#}
            <li role="presentation"><a data-toggle="tab" href="#">Profil</a></li>
        </ul>

        {#<div class="tab-content ">#}
            {#<div class="tab-pane active" id="1">#}
                {#{% include '@MSPlatform/Student/index.html.twig' %}#}
            {#</div>#}
            {#<div class="tab-pane" id="2">#}
                {#<h3>Notice the gap between the content and tab after applying a background color</h3>#}
            {#</div>#}
            {#<div class="tab-pane" id="3">#}
                {#<h3>add clearfix to tab-content (see the css)</h3>#}
            {#</div>#}
        {#</div>#}

    </div>

    {% block javascripts %}
    {% endblock %}

{% endblock %}