{% extends "@MSPlatform/layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body_forum %}


    <div class="container">


        <div class="row result"></div>


        {% for subject in teacher.subjects %}
        {% for course in subject.courses %}
        <table class="table table-stripped table-hover">
            <thead>
            <tr>
                <th>Nom de l'Etudiant</th>
                <th>Note</th>
            </tr>
            </thead>

            <div class="row">
            {% for student in course.students %}
                <form >
                    <tbody>
                    <tr>
                        <td>{{ student.name }}</td>
                        <p class="student" hidden>{{ student.id }}</p>
                        <td><input type="number" class="grade" value="" min="0" max="20"/></td>
                    </tr>

            {% endfor %}
                    <td><input type="submit" value="Ajouter" /></td>
                    </tbody>
        {% endfor %}
        {% endfor %}
                </form>
            </div>
        </table>



</div>

    {% javascripts filter='?yui_js'
        'bundles/fosjsrouting/js/router.js'
        'js/fos_js_routes.js'
        'assets/jquery/jquery.js'
        'bundles/msplatform/js/teacherGrade.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}