{% extends "@MSPlatform/layout.html.twig" %}

{% block title %}{{ parent() }} - Modification-Matière{% endblock %}

{% block body_forum %}
    <h3>Formulaire de modification d'une matière</h3><br>

    <a class="btn btn-info" href="{{ path('ms_admin_university_subject') }}">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Retour
    </a><br>

    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}

    <div class="well ">
        {{ form(form) }}
    </div>

{% endblock %}
