{% extends "@MSPlatform/layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block stylesheets %}
{% endblock %}


{% block body_forum %}
<div class="container">
    <div class="row">
        <h3 class="col-md-offset-4 col-md-4">Bonjour Admin</h3>
    </div>

    <div class="row">
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li><a href="#add_grade" data-toggle="tab">Matières/Filières</a></li>
                    {#<li><a href="#edit_grade" data-toggle="tab">Consultation des notes</a></li>#}
                    <li><a href="#profil" data-toggle="tab">Profil</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade" id="add_grade">
                        {% block body_university %}
                        {% endblock %}
                    </div>
                    <div class="tab-pane fade" id="edit_grade">
                        Default 2
                    </div>
                    <div class="tab-pane fade" id="profil">Default 3</div>
                </div>
            </div>
        </div>
    </div>

</div>

{% stylesheets 'bundles/msplatform/css/homepage.css' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

{% endblock %}