{% extends "@MSPlatform/layout.html.twig" %}

{% block title %}{{ parent() }} - Homepage{% endblock %}


{% block body_forum %}
    <div class="row">
        <h3 class="col-md-offset-4 col-md-4">Bonjour Admin</h3>
    </div>
{% endblock %}