{% extends "@MSPlatform/layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
<div class="container">

    {% for course in student.courses %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Matière</th>
            <th>Coefficient</th>
            <th>NOTE</th>
        </tr>
        </thead>


    <div class="row">
    {% for subject in course.subjects %}

    <form action="" method="post">
                <tbody>
                <tr>
                    <td><label for="subjectName">{{ subject.name }}</label></td>
                    <td class="coef">{{ subject.coef}}</td>
                    <td><input type="number" class="grade" value="" min="0" max="20"/></td>
                </tr>
                </tbody>

        {% endfor %}
        {% endfor %}

    </form>
    </div>
    </table>
        <input type="button" name="submit" value="Results" id="button" />

    <h3 class="result"></h3>
</div>

    {% javascripts
        'assets/jquery/jquery.js'
        'bundles/msplatform/js/formGrade.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
